# ───────────────────────────────────────────────
# Node
# ───────────────────────────────────────────────
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# ───────────────────────────────────────────────
# Typescript
# ───────────────────────────────────────────────
dist/
build/
tsconfig.tsbuildinfo

# ───────────────────────────────────────────────
# Env files
# ───────────────────────────────────────────────
.env
.env.*.local

# ───────────────────────────────────────────────
# Logs
# ───────────────────────────────────────────────
logs/
*.log
*.log.json

# ───────────────────────────────────────────────
# OS / Editors
# ───────────────────────────────────────────────
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# ───────────────────────────────────────────────
# Coverage
# ───────────────────────────────────────────────
coverage/
.nyc_output/

# ───────────────────────────────────────────────
# Cache
# ───────────────────────────────────────────────
.cache/
.tmp/
temp/
tmp/

# ───────────────────────────────────────────────
# Mongoose / Mongo things
# ───────────────────────────────────────────────
dump/
